@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark--1: #2d3439;
	--color-light--2: #ececec;
}

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	background-color: #f7f7f7;
	color: #444;
}

.layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 32px;
	height: 100dvh;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	.loader {
		width: 45px;
		aspect-ratio: 0.75;
		--c: no-repeat linear-gradient(#333 0 0);
		background:
			var(--c) 0% 50%,
			var(--c) 50% 50%,
			var(--c) 100% 50%;
		background-size: 20% 50%;
		animation: loading 1s infinite linear;
	}
}

.spinnerFullpage {
	margin: 2.5rem;
	height: calc(100vh - 5rem);
	background-color: var(--color-dark--1);

	.spinnerContainer {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.spinner {
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			background: conic-gradient(#0000 10%, var(--color-light--2));
			-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
			animation: rotate 1.5s infinite linear;
		}
	}
}

@keyframes loading {
	20% {
		background-position:
			0% 0%,
			50% 50%,
			100% 50%;
	}
	40% {
		background-position:
			0% 100%,
			50% 0%,
			100% 50%;
	}
	60% {
		background-position:
			0% 50%,
			50% 100%,
			100% 0%;
	}
	80% {
		background-position:
			0% 50%,
			50% 50%,
			100% 100%;
	}
}

@layer components {
	.input {
		@apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
	}

	/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
	.loader {
		width: 45px;
		aspect-ratio: 0.75;
		--c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
		background:
			var(--c) 0% 50%,
			var(--c) 50% 50%,
			var(--c) 100% 50%;
		background-size: 20% 50%;
		animation: loading 1s infinite linear;
	}

	@keyframes loading {
		20% {
			background-position:
				0% 0%,
				50% 50%,
				100% 50%;
		}
		40% {
			background-position:
				0% 100%,
				50% 0%,
				100% 50%;
		}
		60% {
			background-position:
				0% 50%,
				50% 100%,
				100% 0%;
		}
		80% {
			background-position:
				0% 50%,
				50% 50%,
				100% 100%;
		}
	}
}
